.btn-login {
    background-color: #0d1b2a;
    color: white;
    padding: 5px 20px;
    padding-bottom: 7px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-decoration: none;
    border-radius: 5rem;
}

.login-btn {
    margin-right: 5rem;
}

.navbar-item {
    margin-left: 6rem;
}

.carousel {
    margin: 1rem 3rem;
}

.carousel img{
    border-radius: 3rem;
}

.carousel-inner {
    border-radius: 3rem;
}

.artikel {
    margin: 1rem 3rem;
}

.container {
    padding: 0;
}

/* #card-img {
    background-image: url("../asset/carousel/carousel-test-1.jpg");
    background-size: cover;
    background-position: center;
  } */

.card {
    margin: 1rem 3rem;
}

